/* Alignment Property Start */

/* Align Content */

.align-content-center {
  align-content: center;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

/* Align Items */

.align-items-center {
  align-items: center;
}

/* Align Self */

.align-self-center {
  align-self: center;
}

/* Alignment Property End */
