:root {
  --red: #ea4492;
  --blue: #004e9a;
  --yellow: #f8d905;
  --green: #94b447;
  --orange: #fe7a15;
  --purple: #0b0742;
  --pink: #c73866;
  --brown: #dc8665;
  --black: #041b2d;
  --aqua: #47cacc;
  --light: #e7e7e7;
  --lightred: #c73866;
  --lightblue: #205072;
  --lightyellow: #ffc98b;
  --lightgreen: #56c596;
  --lightorange: #f9ad6a;
  --lightpurple: #8b4c70;
  --lightpink: #ff9cda;
  --lightbrown: #dfb15b;
  --lightblack: #455054;
  --lightaqua: #2d82b5;
}
