/* Display Property Start */

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}

.display-inline-block {
    display: inline-block !important;
}

.display-flex {
    display: flex !important;
}

.display-grid {
    display: grid !important;
}

/* Display Property End */